{{>header}}
   <form action="/actualizar_Usuario_verificado" method="post">
        <div class="form-group">
            <label for="id">Id</label>
            <input type="number" name="id"  class="form-control" required>
        </div>
        <button class="btn btn-primary">Buscar usuario</button>
        
    </form>
{{>footer}}
