{{>header}}
   <form action="/eliminar_curso_verificado" method="post">
        <div class="form-group">
            <label for="id">MI Id</label>
            <input type="number" name="id"  class="form-control" required>
        </div>
        <button class="btn btn-primary">Ver cursos</button>
        
    </form>
{{>footer}}
