{{>header}}
<h2>Bienvenido a mi sitio</h2>
<p>Estamos ofreciendo cursos virtuales para fomentar y profundizar tu aprendizaje. 
    Registrate a nuestro sitio para que puedas inscribirte</p>
    <form action="/" method="post">
        <div class="form-group">
            <label for="cedula">Cédula</label>
            <input type="number" name="cedula"  class="form-control" size="20" required>
        </div>
        <div class="form-group">   
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" class="form-control"  required>
        </div>
        <div class="form-group">   
            <label for="telefono">Telefono</label>
            <input type="text" name="telefono" class="form-control"  required>
        </div>
        <div class="form-group">   
            <label for="correo">Correo</label>
            <input type="text" name="correo" class="form-control"  required>
        </div>
         <div class="form-group">   
            <label for="contraseña">Contraseña</label>
            <input type="text" name="contraseña" class="form-control"  required>
        </div>
        <button class="btn btn-primary">Registrarse</button>
    </form>
{{>footer}}