{{>header}}
    <h1>Ver cursos como administrador</h1>
    {{{listarCursos listado}}}

    <div>
         <form action='/actualizar_curso' method='post'>
            <h3>Actualizar estado de un curso</h3>
            {{{listarCursoInscribir listado}}}
            <button type="submit" class="btn btn-primary btn-lg"> Actualizar &raquo; </button>  
          </form>         
    </div>

{{>footer}}